.header {
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding: 1%;
    position: fixed;
    width: 98%;
    top: 0;
    right: 0;
    background: rgba(10, 15, 30, 0.75);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.site-name {
    font-size: clamp(1rem, 4vw, 2.5rem);
    font-weight: bold;
    color: #fff; /* White text for contrast */
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;
}

