{% extends "layout.html" %}

{% block body %}
    <!--
    action attr = specifies what route to send form data to
    method attr = specifies method by which form data is sent
    -->
    <form action="/" method="post">
        What is your favorite color?
        <select name="color">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
        </select>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
<!--
NOTES:
The extends syntax lets you build off of other html file.
Important: Do not foget quotes around filename

Here, the block syntax lets u add html which then gets added to
layout.html (the file being extended, in this case)
-->