<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Hello, Flask</title>
    </head>
    <body>
        <div class="header">
            <div class="site-name">SavingsVisualizer</div>
            <link rel="stylesheet" href="static/css/layout.css">
        </div>
        {% block body %}{% endblock %}
    </body>
</html>


<!--
NOTES:
Ppl commonly use layout.html as a base file for other html files to extend, or build off of.

The the block syntax lets you insert code from other files (see index.html) during preprocessing.
-->