{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="static/css/savingsTool.css">
{% endblock %}
    
{% block body %}
    <div class="savings-header">
        <button class="add-savings-btn">Add Savings Plan</button>
    </div>
{% endblock %}
<!--
NOTES:
The extends syntax lets you build off of other html file.
Important: Do not foget quotes around filename

Here, the block syntax lets u add html which then gets added to
layout.html (the file being extended, in this case)
-->